@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: 'aniimo';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(36.8% 0.034 284.598);
  --color-primary: oklch(69% 0.168 252.178);
  --color-primary-content: oklch(32.9% 0.168 252.178);
  --color-secondary: oklch(56.4% 0.158 288.986);
  --color-secondary-content: oklch(98.8% 0.158 288.986);
  --color-accent: oklch(78.5% 0.198 331.653);
  --color-accent-content: oklch(35.4% 0.198 331.653);
  --color-neutral: oklch(36.8% 0.032 284.692);
  --color-neutral-content: oklch(87.6% 0.032 284.692);
  --color-info: oklch(66.3% 0.01 264.502);
  --color-info-content: oklch(24.5% 0.01 264.502);
  --color-success: oklch(73.1% 0.191 137.226);
  --color-success-content: oklch(34.9% 0.191 137.226);
  --color-warning: oklch(76.1% 0.139 73.316);
  --color-warning-content: oklch(38.7% 0.139 73.316);
  --color-error: oklch(69.9% 0.169 22.456);
  --color-error-content: oklch(33% 0.169 22.456);
  --radius-selector: 0.5rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@source inline('{bg,text}-element-{holy,fire,ice,dark,electric,grass,water,rock,wind}');
@source inline('{bg,text}-ability-{1..13..1}');
@theme {
  --color-element-holy: oklch(0.79 0.15 71.27 / 1);
  --color-element-fire: oklch(0.65 0.16 22.61 / 1);
  --color-element-ice: oklch(0.75 0.11 210.97 / 1);
  --color-element-dark: oklch(0.64 0.15 306.03 / 1);
  --color-element-electric: oklch(0.82 0.16 97.48 / 1);
  --color-element-grass: oklch(0.69 0.12 155.96 / 1);
  --color-element-water: oklch(0.68 0.13 250.11 / 1);
  --color-element-rock: oklch(0.74 0.07 83.34 / 1);
  --color-element-wind: oklch(0.48 0.18 264.93 / 1);

  --color-aniimo-dark: oklch(0.46 0.05 284.43 / 1);

  --color-ability-1: oklch(0.62 0.12 263.47 / 1); /* Carry */
  --color-ability-2: oklch(0.71 0.14 5.27 / 1); /* Leisure */
  --color-ability-3: var(--color-element-wind); /* Wind */
  --color-ability-4: oklch(0.7 0.14 137.66 / 1); /* Artisanship */
  --color-ability-5: var(--color-element-fire); /* Fire */
  --color-ability-6: oklch(0.68 0.15 310.82 / 1); /* Perfumery */
  --color-ability-7: var(--color-element-grass); /* Grass */
  --color-ability-8: var(--color-element-water); /* Water */
  --color-ability-9: var(--color-element-rock); /* Earth */
  --color-ability-10: oklch(0.82 0.16 97.48 / 1); /* Lightning */
  --color-ability-11: var(--color-element-ice); /* Ice */
  --color-ability-12: var(--color-element-dark); /* Dark */
  --color-ability-13: var(--color-element-holy); /* Light */
}

html,
body {
  @apply min-h-dvh bg-[#e3dade] bg-linear-to-b from-[#b7cff2] via-[#d4d3ea] to-[#e3dade] bg-fixed;
}

.container {
  @apply px-4;
}
